@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>For this project application I used the FullCalendar from FullCalendar.io and implemented it into my program. The main features are scheduling menu items to the calendar by giving them a set date and time. The scheduled menu items can be deleted when clicked on. Additionally, the calendar is saved with local storage so if the user were to leave the web page and come back again at a later time, all the information they had scheduled will be saved. The application includes databases for the menu items and the users. The page is set to authorization only, so the user must be logged in to access the homepage. There is a search page as well as a detail page with images of the menu items. The search page allows you to type in a key word to search through the menu items. This was a great learning experience and I hope you enjoy this project. </p>
